button {
    display: block;
    font-size: 16px;
    line-height: 12px;
    width: 100%;
    background: #675AFF;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #FBFFFF;
    margin: 20px auto;
}